<td>
  <div class="flex flex-col">
    <span class="font-bold mb-1">{{ voting().title }}</span>
    <a
      class="link"
      [routerLink]="[
        '/voting',
        voting().term,
        voting().sitting,
        voting().votingNumber
      ]"
      >{{ voting().topic || '(szczegóły)' }}</a
    >
  </div>
</td>
<td>
  <div class="flex flex-col">
    <span>{{ voting().date | date: 'YYYY-MM-dd' }}</span>
    <span>{{ voting().date | date: 'HH:mm:ss' }}</span>
  </div>
</td>
<td>{{ voting().totalVoted }}</td>
<td><sm-voting-result [voting]="voting()" /></td>
