<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 my-6">
  @for (vote of votingDetails().votes; track vote.MP) {
    <div class="flex flex-col gap-2 bg-base-100 rounded-lg p-2">
      <div class="flex gap-2">
        <sm-member-photo
          class=""
          [memberId]="vote.MP"
          [termNum]="votingDetails().term" />
        <div class="flex flex-col flex-1">
          <div>{{ vote.firstName }}</div>
          <div>{{ vote.lastName }}</div>
        </div>
        <div class="text-right text-xs">
          {{ vote.club }}
        </div>
      </div>

      <div class="flex justify-end">
        @if (vote.listVotes) {
          <sm-mp-list-vote
            [vote]="vote"
            [votingOptions]="votingDetails().votingOptions" />
        } @else {
          <sm-mp-vote [vote]="vote" />
        }
      </div>
    </div>
  }
</div>
