<table class="table table-md table-pin-rows relative max-h-full w-full">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Głosy</th>
    </tr>
  </thead>
  <tbody>
    @for (vote of votingDetails().votes; track vote.MP) {
      <tr>
        <td>{{ vote.firstName }}</td>
        <td>{{ vote.lastName }}</td>
        <td>
          @if (vote.listVotes) {
            {{ vote.listVotes | json }}
          } @else {
            {{ 'enum.VoteValue.' + vote.vote | i18next }}
          }
        </td>
      </tr>
    }
  </tbody>
</table>
