<table class="table table-md table-pin-rows relative max-h-full w-full">
  <thead>
    <tr>
      <th></th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Głosy</th>
    </tr>
  </thead>
  <tbody>
    @for (vote of votingDetails().votes; track vote.MP) {
      <tr class="even:bg-base-100">
        <td>
          <sm-member-photo
            [memberId]="vote.MP"
            [termNum]="votingDetails().term" />
        </td>
        <td>{{ vote.firstName }}</td>
        <td>{{ vote.lastName }}</td>
        <td>
          @if (vote.listVotes) {
            <sm-mp-list-vote
              [vote]="vote"
              [votingOptions]="votingDetails().votingOptions" />
          } @else {
            <sm-mp-vote [vote]="vote" />
          }
        </td>
      </tr>
    }
  </tbody>
</table>
