<td>{{ committee.code }}</td>
<td>
  <div class="flex flex-col gap-2">
    <span>{{ committee.name }}</span>
  </div>
</td>
<td>{{ committee.appointmentDate }}</td>
<td>{{ committee.compositionDate }}</td>
<td>{{ committee.scope }}</td>
<td>
  <button class="btn btn-neutral" (click)="membersModal.showModal()">
    Pokaż ({{ committee.members.length }})
  </button>
</td>

<dialog #membersModal class="modal">
  <div class="modal-box flex flex-col w-11/12 max-w-5xl overflow-hidden">
    <h3 class="font-bold text-lg modal-top">
      Członkowie {{ committee.nameGenitive }}
    </h3>
    <div class="overflow-y-scroll">
      <sm-committee-members [members]="committee.members" />
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Zamknij</button>
  </form>
</dialog>
