<td>
  <div class="flex items-center space-x-3">
    <sm-member-photo [memberId]="member.id" [termNum]="termNum()" />
  </div>
</td>
<td>{{ member.firstName }} {{ member.secondName }}</td>
<td>{{ member.lastName }}</td>
<td>
  <span
    class="badge badge-sm {{ member.active ? 'badge-success' : 'badge-error' }}"
    >{{ member.active ? 'Aktywny' : 'Nieaktywny' }}</span
  >
  <br />
  @if (!member.active) {
    {{ member.inactiveCause }}
  }
</td>

<td>{{ member.email }}</td>
<td>
  {{ member.birthDate }}
  <br />
  {{ member.birthLocation }}
</td>
<td>{{ member.club }}</td>
<td>{{ member.districtName }} ({{ member.voivodeship }})</td>
<td>{{ member.numberOfVotes }}</td>
<td>{{ member.profession }}</td>
<td>{{ member.educationLevel }}</td>
