@if (svgCircle) {
  <svg:defs>
    <pattern
      [id]="miniPhotoId()"
      x="0"
      y="0"
      [attr.height]="svgCircle.radius"
      [attr.width]="svgCircle.radius">
      <image x="0" y="0" [attr.href]="miniPhotoUrl()"></image>
    </pattern>
  </svg:defs>

  <svg:circle
    [attr.cx]="svgCircle.cx"
    [attr.cy]="svgCircle.cy"
    [attr.r]="svgCircle.radius"
    [attr.fill]="'url(#' + miniPhotoId() + ')'"
    class="
    {{ isActive() ? 'stroke-primary' : 'stroke-current' }} 
    {{ isActive() ? 'stroke-2' : 'stroke-[0.5px]' }}
    opacity-60 hover:opacity-100
    " />
}
