@if (svgCircle) {
  <svg:defs>
    <pattern
      [id]="miniPhotoId()"
      x="0"
      y="0"
      [attr.width]="svgCircle.radius"
      [attr.height]="svgCircle.radius">
      <image x="0" y="0" [attr.href]="miniPhotoUrl()"></image>
    </pattern>
  </svg:defs>

  <svg:circle
    [attr.cx]="svgCircle.cx"
    [attr.cy]="svgCircle.cy"
    [attr.r]="svgCircle.radius"
    [attr.fill]="'url(#' + miniPhotoId() + ')'"
    class="stroke-current [.active-seat_&]:stroke-primary stroke-[0.5px] [.active-seat_&]:stroke-2 opacity-60 hover:opacity-100 [.active-seat_&]:opacity-100" />
}
