<div class="flex gap-3">
  <sm-item-select
    label="Wybierz kadencje sejmu"
    [items]="(terms$ | async) || []"
    [ngModel]="selectedTerm$ | async"
    (ngModelChange)="onTermSelect($event)"
    labelProperty="label"
    [compareWithFn]="compareTerms" />

  <div class="form-control max-w-xs">
    <label class="label-text label" for="member-search">
      Imię lub Nazwisko
    </label>
    <input
      id="member-search"
      type="text"
      placeholder="Imię lub naziwsko"
      class="input input-bordered w-full max-w-xs"
      [ngModel]="searchValue$ | async"
      (ngModelChange)="updateMembersSearchValue($event)" />
  </div>
  <button
    class="font-medium self-end h-12"
    (click)="shoWAdditionalFilters = !shoWAdditionalFilters">
    {{
      shoWAdditionalFilters
        ? '- Ukryj dodatkowe filtry'
        : '+ Pokaż więcej filtrów'
    }}
  </button>
</div>

@if (shoWAdditionalFilters) {
  <div>
    <div class="flex gap-3 flex-wrap">
      @if (availableBirthLocations$ | async; as birthLocations) {
        <sm-item-multi-select
          label="Miejsce narodzin"
          classes="min-w-[8rem]"
          [items]="birthLocations"
          [ngModel]="selectedBirthLocations$ | async"
          (ngModelChange)="updateSelectedBirthLocations($event)" />
      }

      @if (availableClubs$ | async; as clubs) {
        <sm-item-multi-select
          label="Klub"
          classes="min-w-[8rem]"
          [items]="clubs"
          [ngModel]="selectedClubs$ | async"
          (ngModelChange)="updateSelectedClubs($event)" />
      }

      @if (availableDistricts$ | async; as districts) {
        <sm-item-multi-select
          label="Region"
          classes="min-w-[8rem]"
          [items]="districts"
          [ngModel]="selectedDistrictsNames$ | async"
          (ngModelChange)="updateSelectedDistrictsNames($event)" />
      }
      @if (availableEductionLevels$ | async; as eduLevels) {
        <sm-item-multi-select
          label="Wykształcenie"
          classes="min-w-[8rem]"
          [items]="eduLevels"
          [ngModel]="selectedEducationLevels$ | async"
          (ngModelChange)="updateSelectedEducationLevels($event)" />
      }
      @if (availableProfessions$ | async; as professions) {
        <sm-item-multi-select
          label="Zawód"
          classes="min-w-[8rem]"
          [items]="professions"
          [ngModel]="selectedProfessions$ | async"
          (ngModelChange)="updateSelectedProfessions($event)" />
      }
      @if (availableVoivodeships$ | async; as voivodeships) {
        <sm-item-multi-select
          label="Województwo"
          classes="min-w-[8rem]"
          [items]="voivodeships"
          [ngModel]="selectedVoivodeships$ | async"
          (ngModelChange)="updateselectedVoivodeships($event)" />
      }
    </div>
  </div>
}

<div
  class="flex items-end flex-1 gap-1"
  [class.justify-end]="shoWAdditionalFilters">
  <button class="btn btn-neutral" (click)="saveFilters()">Filtruj</button>
  <button class="btn" (click)="clearFilters()">Usuń filtry</button>
</div>
