<div class="flex gap-3">
  <sm-item-select
    label="Wybierz kadencje sejmu"
    [items]="(terms$ | async) || []"
    [ngModel]="selectedTerm$ | async"
    (ngModelChange)="onTermSelect($event)"
    labelProperty="label"
    [compareWithFn]="compareTerms" />

  <div class="form-control max-w-xs">
    <label class="label-text label" for="member-search">
      Imię lub Nazwisko
    </label>
    <input
      id="member-search"
      type="text"
      placeholder="Imię lub naziwsko"
      class="input input-bordered w-full max-w-xs"
      [ngModel]="searchValue$ | async"
      (ngModelChange)="updateMembersSearchValue($event)" />
  </div>
  <button
    class="font-medium self-end h-12"
    (click)="shoWAdditionalFilters = !shoWAdditionalFilters">
    {{
      shoWAdditionalFilters
        ? '- Ukryj dodatkowe filtry'
        : '+ Pokaż więcej filtrów'
    }}
  </button>
</div>

<div *ngIf="shoWAdditionalFilters">
  <div class="flex gap-3 flex-wrap">
    <sm-item-multi-select
      *ngIf="availableBirthLocations$ | async as birthLocations"
      label="Miejsce narodzin"
      classes="min-w-[8rem]"
      [items]="birthLocations"
      [ngModel]="selectedBirthLocations$ | async"
      (ngModelChange)="updateSelectedBirthLocations($event)" />

    <sm-item-multi-select
      *ngIf="availableClubs$ | async as clubs"
      label="Klub"
      classes="min-w-[8rem]"
      [items]="clubs"
      [ngModel]="selectedClubs$ | async"
      (ngModelChange)="updateSelectedClubs($event)" />

    <sm-item-multi-select
      *ngIf="availableDistricts$ | async as districts"
      label="Region"
      classes="min-w-[8rem]"
      [items]="districts"
      [ngModel]="selectedDistrictsNames$ | async"
      (ngModelChange)="updateSelectedDistrictsNames($event)" />

    <sm-item-multi-select
      *ngIf="availableEductionLevels$ | async as eduLevels"
      label="Wykształcenie"
      classes="min-w-[8rem]"
      [items]="eduLevels"
      [ngModel]="selectedEducationLevels$ | async"
      (ngModelChange)="updateSelectedEducationLevels($event)" />

    <sm-item-multi-select
      *ngIf="availableProfessions$ | async as professions"
      label="Zawód"
      classes="min-w-[8rem]"
      [items]="professions"
      [ngModel]="selectedProfessions$ | async"
      (ngModelChange)="updateSelectedProfessions($event)" />

    <sm-item-multi-select
      *ngIf="availableVoivodeships$ | async as voivodeships"
      label="Województwo"
      classes="min-w-[8rem]"
      [items]="voivodeships"
      [ngModel]="selectedVoivodeships$ | async"
      (ngModelChange)="updateselectedVoivodeships($event)" />
  </div>
</div>

<div
  class="flex items-end flex-1 gap-1"
  [class.justify-end]="shoWAdditionalFilters">
  <button class="btn btn-neutral" (click)="saveFilters()">Filtruj</button>
  <button class="btn" (click)="clearFilters()">Usuń filtry</button>
</div>
