<div class="py-6 px-4 flex flex-col gap-4">
  <sm-item-select
    classes="w-full"
    label="Kadencja sejmu"
    [items]="(terms$ | async) || []"
    [ngModel]="selectedTerm$ | async"
    (ngModelChange)="onTermSelect($event)"
    labelProperty="label"
    [compareWithFn]="compareTerms" />

  <div class="form-control w-full">
    <label class="label-text label" for="member-search">
      Imię lub Nazwisko
    </label>
    <input
      id="member-search"
      type="text"
      placeholder="Imię lub naziwsko"
      class="input input-bordered w-full"
      [ngModel]="searchValue$ | async"
      (ngModelChange)="updateMembersSearchValue($event)" />
  </div>

  @if (availableBirthLocations$ | async; as birthLocations) {
    <sm-checkbox-group
      label="Miejsce narodzin"
      [options]="birthLocations"
      [ngModel]="selectedBirthLocations$ | async"
      (ngModelChange)="updateSelectedBirthLocations($event)" />
  }

  @if (availableClubs$ | async; as clubs) {
    <sm-checkbox-group
      label="Klub"
      [options]="clubs"
      [ngModel]="selectedClubs$ | async"
      (ngModelChange)="updateSelectedClubs($event)" />
  }

  @if (availableDistricts$ | async; as districts) {
    <sm-checkbox-group
      label="Region"
      [options]="districts"
      [ngModel]="selectedDistrictsNames$ | async"
      (ngModelChange)="updateSelectedDistrictsNames($event)" />
  }
  @if (availableEductionLevels$ | async; as eduLevels) {
    <sm-checkbox-group
      label="Wykształcenie"
      [options]="eduLevels"
      [ngModel]="selectedEducationLevels$ | async"
      (ngModelChange)="updateSelectedEducationLevels($event)" />
  }
  @if (availableProfessions$ | async; as professions) {
    <sm-checkbox-group
      label="Zawód"
      [options]="professions"
      [ngModel]="selectedProfessions$ | async"
      (ngModelChange)="updateSelectedProfessions($event)" />
  }
  @if (availableVoivodeships$ | async; as voivodeships) {
    <sm-checkbox-group
      label="Województwo"
      [options]="voivodeships"
      [ngModel]="selectedVoivodeships$ | async"
      (ngModelChange)="updateSelectedVoivodeships($event)" />
  }

  <button class="btn" (click)="clearFilters()">Usuń filtry</button>
</div>
