<h2>Kadencje sejmu</h2>
<ng-container *ngIf="status$ | async as status">
    <ng-container [ngSwitch]="status">
        <ng-container *ngSwitchCase="'success'">
            <ul>
                <li *ngFor="let term of (terms$ | async)">
                    <button class="btn" (click)="showDetails(term)">
                        <b>{{term.num}}.</b>
                        {{term.from}} - {{term.to || 'Aktualnie'}}
                    </button>
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="'error'">
            <div class="alert alert-error">
                <span>Nie udało się załadować listy kadencji sejmu</span>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <span class="loading loading-spinner loading-lg"></span>
        </ng-container>
    </ng-container>
</ng-container>



<ng-container *ngIf="selectedTerm">
    <h3>Szczegóły kadencji nr {{selectedTerm.num}}</h3>
    {{selectedTerm | json}}
</ng-container>