<h2>Kadencje sejmu</h2>
@if (status$ | async; as status) {
  @switch (status) {
    @case ('success') {
      <ul>
        @for (term of terms$ | async; track term.num) {
          <li>
            <button class="btn" (click)="showDetails(term)">
              <b>{{ term.num }}.</b>
              {{ term.from }} - {{ term.to || 'Aktualnie' }}
            </button>
          </li>
        }
      </ul>
    }
    @case ('error') {
      <div class="alert alert-error">
        <span>Nie udało się załadować listy kadencji sejmu</span>
      </div>
    }
    @default {
      <span class="loading loading-spinner loading-lg"></span>
    }
  }
}

@if (selectedTerm) {
  <h3>Szczegóły kadencji nr {{ selectedTerm.num }}</h3>
  {{ selectedTerm | json }}
}
