<label *ngIf="label" class="label" for="{{ selectId }}">
  <span class="label-text">{{ label }}</span>
</label>
<select
  id="{{ selectId }}"
  class="select select-bordered {{ classes }}"
  [disabled]="disabled"
  [ngModel]="selectedItem"
  (ngModelChange)="selectValue($event)"
  [compareWith]="compareWithFn || defaultCompareWith">
  <option *ngIf="optionsDescription" disabled selected [ngValue]="null">
    {{ optionsDescription }}
  </option>
  <option *ngFor="let item of items" [ngValue]="item">
    {{ item | selectItemLabel: labelProperty }}
  </option>
</select>
