<div class="flex gap-3">
  <sm-item-select
    label="Wybierz kadencje sejmu"
    [items]="(terms$ | async) || []"
    [ngModel]="selectedTerm$ | async"
    (ngModelChange)="updateSelectedTerm($event)"
    labelProperty="label"
    [compareWithFn]="compareTerms" />

  <div class="form-control max-w-xs">
    <label class="label-text label" for="committee-search">
      Nazwa komisji
    </label>
    <input
      id="committee-search"
      type="text"
      placeholder="Szukaj po nazwie"
      class="input input-bordered w-full max-w-xs"
      [ngModel]="searchValue$ | async"
      (ngModelChange)="updateSearchValue($event)" />
  </div>

  <!-- <sm-item-multi-select
    label="Typy komisiji"
    classes="min-w-[8rem]"
    [items]="avaialableTypes"
    [ngModel]="selectedTypes$ | async"
    (ngModelChange)="updateSelectedTypes($event)" /> -->

  <div class="flex items-end flex-1 gap-1">
    <button class="btn btn-neutral" (click)="saveFilters()">Filtruj</button>
    <button class="btn" (click)="clearFilters()">Usuń filtry</button>
  </div>
</div>
