:host {
  @apply aspect-video overflow-auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}
