<svg
  #svgCanvas
  [attr.height]="svgCanvasHeightPx + 'px'"
  class="border-2"
  attr.viewBox="{{ viewBoxX }} {{ viewBoxY }} {{ hostWidth }} {{ hostHeight }}"
  (mousedown)="startDrag($event)"
  (mousemove)="drag($event)"
  (mouseup)="endDrag()">
  <!-- TODO FocusKeyManager https://material.angular.io/cdk/a11y/overview -->
  @for (seat of allSeats(); track seat.seatNumber; let i = $index) {
    <g
      class="cursor-pointer fade-in"
      [sm-parliament-seat]="seat"
      [member]="seat.member"
      [termNum]="selectedTermNum$ | async"
      [isActive]="activeSeat() === seat"
      (seatClicked)="setActiveSeat(seat)" />
  }
</svg>
