:host {
  @apply h-screen w-screen min-h-[768px] min-w-[1024px] overflow-auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}
