@if (votingDetails(); as votingDetails) {
  <h2 class="text-2xl">{{ votingDetails?.title }}</h2>

  <div class="p-2 my-2">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
      <div>
        <p class="text-sm font-bold">Data</p>
        <p class="text-base">
          {{ votingDetails?.date | date: 'YYYY-MM-dd HH:mm:ss' }}
        </p>
      </div>
      <div>
        <p class="text-sm font-bold">Opis</p>
        <p class="text-base">{{ votingDetails?.description }}</p>
      </div>
    </div>

    <sm-voting-result [voting]="votingDetails" [compactMode]="false" />
  </div>

  <sm-tabs
    [(ngModel)]="selectedViewMode"
    [options]="tabsOptions"
    label="Tryb widoku głosów" />

  @if (selectedViewMode() === VotingDetailsViewMode.HALL) {
    PArliament hall with votes
  } @else {
    <sm-voting-members-list [votingDetails]="votingDetails" />
  }
} @else {
  <p class="text-center">Brak danych</p>
}

<!-- <sm-parliament-hall /> -->
