<div class="drawer drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <label
      smIcon="bars-3"
      for="my-drawer-4"
      class="cursor-pointer fixed top-8 right-8"></label>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-4"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <div class="bg-black w-1/4 flex flex-col gap-4 z-50 h-screen">
      <sm-item-select
        class="px-4 py-4"
        classes="w-full"
        [items]="(terms$ | async) || []"
        [ngModel]="selectedTerm"
        (ngModelChange)="onTermSelect($event)"
        labelProperty="label"
        [compareWithFn]="compareTerms"
        [optionsDescription]="'Wybierz kadencje sejmu'" />

      <sm-sidebar-links />
    </div>
  </div>
</div>
